<div class="fijo">
    <mat-grid-list cols="11" [rowHeight]="rowHeightTit" (window:resize)='onResize($event)'>
        <mat-grid-tile colspan="1"><mat-icon style="margin-top: 15%;"
                (click)="goBack()">arrow_back_ios</mat-icon></mat-grid-tile>
        <mat-grid-tile colspan="9">
            <h1 class="title" style="margin-top: 3%;">INFORMACIÓN DEL PISO</h1>
        </mat-grid-tile>
    </mat-grid-list>

    <hr class="linea-title">
</div>

<div class="desplazable">
    <div class="map-container">

    </div>

    <div class="img-container">
        <img mat-card-image [src]="respuesta.img" alt="Foto de perfil" class="img">
    </div>

    <div class="info-container">
        <mat-card class="card">
            <mat-card-content class="card-content">
                {{ respuesta.nombre }}<br>
                {{ respuesta.direccion }}<br>
                {{ respuesta.habitaciones }}<br>
                {{ respuesta.tamano }}<br>
                <mat-divider></mat-divider>
                {{ respuesta.descripcion }}<br>
                <mat-divider></mat-divider>
                <p class="precio">{{ respuesta.precio }}</p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-flat-button color="primary"  (click)="navigateToIdealista(respuesta.url)">Ver en idealista</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>