/* .fijo {} */

.desplazable {
    margin-left: 5%;
    margin-right: 5%;
}

.title {
    text-align: center;
    margin-top: 1%;
    color: #434982;
    font-size: 210%;
}

.linea-title {
    border: none;
    height: 10px;
    background: linear-gradient(251.18deg, #730068 28.25%, #434982 37.09%, #434982 56.69%, #01D28E 65.98%);
    width: 100%;
    margin: 20px 0;
}

.example-form-field {
    width: 100%;
}

/* .post-table {
    background: rgba(67, 73, 130, 0.8);
    font-size: 20px;
    color: #FFFFFF;
    border: 30px;
    border-radius: 20px;
    margin-top: 10px;
}

.header-table {
    width: 101%;
    background: rgba(67, 73, 130, 0.8);
    font-size: 20px;
    color: #FFFFFF;
} */


/* .post {
    width: 70%;
    background: rgba(67, 73, 130, 0.8);
    border-radius: 10px;
} */

/* .icon {
    width: 20px;
    height: auto;
    margin-left: 2px;
} */

.tabla {
    color: white;
    font-size: 150%;
}

.cabecera {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgba(67, 73, 130, 0.8);
}

.cuerpo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgba(67, 73, 130, 0.8);
    border-radius: white;
    border-width: 10px;
}

.cabecera-content {
    /* display: flex; */
    justify-content: center;
    margin-top: 5%;
}

.cuerpo-content {
    /* display: flex; */
    justify-content: center;
    margin-top: 5%;
    border-bottom: 1px solid white;
    border-right: 1px solid white; 
}

.usuario {
    display: flex;
}

.correo {
    display: flex;
}

.reputacion {
    display: flex;
}

.edad {
    display: flex;
}

.numDenuncias {
    display: flex;
}

.numPosts {
    display: flex;
}

.estado {
    display: flex;
}

/* Movil */
@media only screen and (max-width: 600px) {
    .correo { display: none; }
    .edad { display: none; }
    .numPosts { display: none; }
    .cabecera { grid-template-columns: repeat(4, 1fr); }
    .cuerpo { grid-template-columns: repeat(4, 1fr); }
    .tabla { font-size: 80%; }
}
/* Tablet vertical */
@media only screen and (max-width: 1200px) and (min-width: 601px) {
    .correo { display: none; }
    .cabecera { grid-template-columns: repeat(6, 1fr); }
    .cuerpo { grid-template-columns: repeat(6, 1fr); }
    .tabla { font-size: 100%; }
}