.title {
    text-align: center;
    font-size: 150%;
}

.info {
    margin-left: 5%;
}

.post {
    width: 95%;
    background: rgba(67, 73, 130, 0.8);
    border-radius: 10px;
    margin-bottom: 1%;
}

.content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp: 4; */
}

.comentario {
    width: 95%;
    background: rgba(67, 73, 130, 0.8);
    border-radius: 10px;
    margin-bottom: 1%;
}

.comentario-tabulado {
    width: 85%;
    background: rgba(67, 73, 130, 0.8);
    border-radius: 10px;
    margin-bottom: 1%;
    margin-left: 10%;
}