<div class="fijo">
    <mat-grid-list cols="11" [rowHeight]="rowHeightTit">
        <mat-grid-tile colspan="1"><mat-icon style="margin-top: 15%;"
                (click)="goBack()">arrow_back_ios</mat-icon></mat-grid-tile>
        <mat-grid-tile colspan="9">
            <h1 class="title" style="margin-top: 3%;">PERFIL</h1>
        </mat-grid-tile>
    </mat-grid-list>

    <hr class="linea-title">

    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        {{link.label}}
        </a>
    </nav>
</div>

<div class="desplazable">
    <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
    </mat-tab-nav-panel>
</div>