<div class="secciones">
    <mat-grid-list cols="6" rowHeight="4:1">
        <mat-grid-tile>
            <a class="seccion" routerLink="/sidebar/foro/piso">Compañero de piso</a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a class="seccion" routerLink="/sidebar/foro/recetas">Recetas</a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a class="seccion" routerLink="/sidebar/foro/economia">Economía doméstica</a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a class="seccion" routerLink="/sidebar/foro/limpieza">Limpieza</a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a class="seccion" routerLink="/sidebar/foro/otros">Otros</a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a class="seccion" routerLink="/sidebar/foro/guardados">Guardados</a>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<mat-grid-list cols="6" rowHeight="2:1">
    <mat-grid-tile colspan="1">
        <mat-icon>search</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <mat-form-field class="example-form-field">
            <mat-label>Clearable input</mat-label>
            <input matInput type="text" [(ngModel)]="value">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-icon (click)="openDialogAdd('0ms', '0ms')">add</mat-icon>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="2.5:1">
    <mat-grid-tile *ngFor="let post of posts">
        <mat-card class="post">
            <mat-card-header (click)="navigateToConversacion()">
                <mat-card-title-group>
                    <mat-card-title style="color: white;">
                        <img mat-card-image src="/assets/img/badge1.png" alt="Foto de perfil" style="width: 10%;">
                        {{ post.userName }}
                    </mat-card-title>
                    <mat-card-subtitle style="color: white;">{{ post.title }}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content style="color: white;" (click)="navigateToConversacion()">{{ post.description
                }}</mat-card-content>
            <mat-card-actions align="end">
                <mat-icon style="color: white;">favorite</mat-icon>
                <mat-icon style="color: white;">bookmark</mat-icon>
                <mat-icon style="color: white;" (click)="openDialogDenuncia('0ms', '0ms')">report_problem</mat-icon>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>