<div class="pantalla">
  <div class="izquierda">
    <div class="izq-arriba">
      <img mat-sm-image src="assets/img/badge1.png" alt="Logo independizate" style="height: 45vh;">
    </div>
    <div class="izq-abajo">
      <h1>¿Estás considerando dar tus primeros pasos hacia la independencia? Has llegado al lugar indicado:</h1>
      <h1>Un portal diseñado para ayudarte a encontrar tu nuevo hogar ideal, compañeros de piso y mucho más.
        Aquí encontrarás valiosos consejos de personas con experiencia, recetas sencillas, tips de limpieza, orientación
        sobre qué buscar en una vivienda y qué áreas son más adecuadas.</h1>
      <h1>Únete y contribuye al crecimiento y mejora de nuestra comunidad, mientras aprendes de otros usuarios. Es un
        espacio para conectar, aprender y evolucionar. ¡Únete ahora mismo!</h1>
    </div>
  </div>
  <div class="derecha">
    <div class="der-arriba">
      <h1 class="titulo">INDEPENDÍZATE</h1>
      <h2>Inicio de sesión</h2>
    </div>
    <div class="der-medio">
      <form class="formulario">
        <mat-form-field>
          <mat-label>Nombre usuario</mat-label>
          <input matInput type="text" [(ngModel)]="usuario" name="usuario">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="contrasena" name="contrasena">
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="login()">Login</button>
      </form>
    </div>
    <div class="der-abajo">
      <p style="margin-top: 5%;">¿No tienes cuenta? <a href="/home/register">Regístrate</a></p>
      <button mat-flat-button color="primary" style="margin-bottom: 2%;" (click)="loginGuest()">Entrar como invitado</button>
      <button class="login-with-google-btn" style="margin-bottom: 2%;" #loginRef>Sign up with Google</button>
    </div>
  </div>
</div>
