.pantalla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.izquierda {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(213.58deg, #01D28E 3.95%, #434982 24.82%, #434982 71.13%, #730068 93.06%);
}

.izq-arriba {
    display: flex;
    align-items: center;
    justify-content: center;
}

.izq-abajo {
    color: white;
    margin: 5%;
}

.derecha {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    
}

.der-arriba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.der-medio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.der-abajo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-family: 'Inria Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12vh;
    line-height: 1.15;
    margin-top: 10%;
    background: linear-gradient(100.4deg, #01D28E 11.14%, #434982 50.34%, #730068 89.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

/* Movil */
@media only screen and (max-width: 600px) {
    .pantalla { grid-template-columns: 1fr; grid-template-rows: 1fr 1fr; }
    .izquierda { grid-template-columns: 1fr; grid-template-rows: 1fr 1fr; }
}
/* Tablet vertical */
@media only screen and (max-width: 1200px) and (min-width: 601px) {
    .pantalla { grid-template-columns: 1fr; grid-template-rows: 1fr 1fr; }
    .izquierda { grid-template-columns: 1fr 1fr; grid-template-rows: 1fr; }
}