.post {
    width: 100%;
    height: auto;
    background: rgba(67, 73, 130, 0.8);
    border-radius: 10px;
}

.info {
    font-size: 150%;
    line-height: 2;
}

button {
    margin-bottom: 1%;
}

.mat-grid-tile {
    color: white;
    font-size: 100%;
}

.example-form {
    width: 100%;
    margin: none;
}
.estampas {
    margin-top: 2%;
}