<mat-grid-list cols="2" rowHeight="2.5:1">
    <mat-grid-tile *ngFor="let post of posts">
        <mat-card class="post">
            <mat-card-header (click)="navigateToConversacion()">
                <mat-card-title-group>
                    <mat-card-title style="color: white;">
                        <img mat-card-image src="/assets/img/badge1.png" alt="Foto de perfil" style="width: 10%;">
                        {{ post.userName }}
                    </mat-card-title>
                    <mat-card-subtitle style="color: white;">{{ post.title }}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content style="color: white;" (click)="navigateToConversacion()">{{ post.description
                }}</mat-card-content>
            <mat-card-actions align="end">
                <mat-icon style="color: white;">favorite</mat-icon>
                <mat-icon style="color: white;">bookmark</mat-icon>
                <mat-icon style="color: white;" (click)="openDialogDenuncia('0ms', '0ms')">report_problem</mat-icon>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>