.pantalla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.izquierda {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(213.58deg, #01D28E 3.95%, #434982 24.82%, #434982 71.13%, #730068 93.06%);
}

.izq-arriba {
    display: flex;
    align-items: center;
    justify-content: center;
}

.izq-abajo {
    color: white;
    margin: 5%;
}

.derecha {
    display: grid;
    grid-template-rows: 0.1fr 1.5fr;
    
}

.der-arriba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.der-medio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.der-abajo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-family: 'Inria Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12vh;
    line-height: 1.15;
    margin-top: 10%;
    background: linear-gradient(100.4deg, #01D28E 11.14%, #434982 50.34%, #730068 89.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.fila-formulario {
    display: flex;
    flex-direction: row;
}

.desplegable {
    margin-bottom: 5%;
}

/* Movil */
@media only screen and (max-width: 600px) {
    .pantalla { grid-template-columns: 1fr; grid-template-rows: 1fr 1fr; }
    .izquierda { grid-template-columns: 1fr; grid-template-rows: 1fr 1fr; }
}
/* Tablet vertical */
@media only screen and (max-width: 1200px) and (min-width: 601px) {
    .pantalla { grid-template-columns: 1fr; grid-template-rows: 1fr 1fr; }
    .izquierda { grid-template-columns: 1fr 1fr; grid-template-rows: 1fr; }
}