<mat-dialog-actions align="end">
    <mat-icon [mat-dialog-close]="true">close</mat-icon>
</mat-dialog-actions>
<mat-dialog-content>
    <div class="info">
        <img mat-card-image src="/assets/img/badge1.png" alt="Foto de perfil" style="width: 30%;">
        <p class="title">Nombre de usuario</p>
        <img mat-card-image src="/assets/img/badge1.png" alt="Foto de perfil" style="width: 10%;">
        <img mat-card-image src="/assets/img/badge1.png" alt="Foto de perfil" style="width: 10%;">
        <img mat-card-image src="/assets/img/badge1.png" alt="Foto de perfil" style="width: 10%;">
        <p>Reputación: 256</p>
    </div>
</mat-dialog-content>