/* .fijo {} */

.desplazable {
    margin-left: 5%;
    margin-right: 5%;
}

.title {
    text-align: center;
    margin-top: 1%;
    color: #434982;
    font-size: 210%;
}

.linea-title {
    border: none;
    height: 10px;
    background: linear-gradient(251.18deg, #730068 28.25%, #434982 37.09%, #434982 56.69%, #01D28E 65.98%);
    width: 100%;
    margin: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ranking {
    max-width: 100%;
}