<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav1 mode="side" class="example-sidenav2" fixedInViewport="true" fixedTopGap="0"
        fixedBottomGap="0">
        <mat-grid-list cols="1" rowHeight="7%">
            <mat-grid-tile colspan="1"><mat-icon color="accent" class="icon" (click)="sidenav.open()"
                    (click)="sidenav1.close()" (click)="toggle()">menu</mat-icon></mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav>

    <mat-sidenav #sidenav mode="side" opened class="example-sidenav1" fixedInViewport="true" fixedTopGap="0"
        fixedBottomGap="0">

        <mat-grid-list cols="7" rowHeight="8%">
            <mat-grid-tile colspan="2"><mat-icon color="accent" (click)="sidenav.close()" (click)="sidenav1.open()"
                    (click)="toggle()">menu</mat-icon></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="2"><mat-icon color="accent" routerLink="/sidebar/notificaciones">notifications</mat-icon></mat-grid-tile>

            <mat-grid-tile colspan="7">
                <p class="opcion-text">foto perfil</p>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" routerLink="/admin/sidebar/contact-us-de-usuario"><mat-icon color="accent">place</mat-icon></mat-grid-tile>
            <mat-grid-tile colspan="6" mat-align="start" routerLink="/admin/sidebar/contact-us-de-usuario">
                <p class="opcion-text">Contact us de usuario</p>
            </mat-grid-tile>

            <mat-grid-tile colspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1" routerLink="/admin/sidebar/denuncias-del-foro"><mat-icon color="accent">home</mat-icon></mat-grid-tile>
            <mat-grid-tile colspan="5" mat-align="start" routerLink="/admin/sidebar/denuncias-del-foro">
                <p class="opcion-text">Denuncias del foro</p>
            </mat-grid-tile>

            <mat-grid-tile colspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1" routerLink="/admin/sidebar/gestion-de-usuarios"><mat-icon color="accent">map</mat-icon></mat-grid-tile>
            <mat-grid-tile colspan="5" mat-align="start" routerLink="/admin/sidebar/gestion-de-usuarios">
                <p class="opcion-text">Gestión de usuarios</p>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" routerLink="/sidebar/mapa"><mat-icon color="accent">flag</mat-icon></mat-grid-tile>
            <mat-grid-tile colspan="6" mat-align="left" routerLink="/sidebar/mapa">
                <p class="opcion-text">Estadísticas</p>
            </mat-grid-tile>

            <mat-grid-tile colspan="7"></mat-grid-tile>
            <mat-grid-tile colspan="7"></mat-grid-tile>
            <mat-grid-tile colspan="7"></mat-grid-tile>

            <mat-grid-tile colspan="1"><mat-icon color="accent">logout</mat-icon></mat-grid-tile>
            <mat-grid-tile colspan="6">
                <p class="opcion-text">Cerrar sesión</p>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav>

    <mat-sidenav-content class="example-sidenav-content" [style.margin-left.%]="margen">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>