<mat-dialog-actions align="end">
    <mat-icon [mat-dialog-close]="true">close</mat-icon>
</mat-dialog-actions>
<mat-dialog-content>
    <div class="info">
        <img mat-card-image [src]="usuario.fotoPerfil" alt="Foto de perfil" style="width: 30%;">
        <p class="title">{{ usuario.usuario }}</p>
        <img mat-card-image [src]="usuario.estampasFavoritas[0]" alt="Foto de perfil" style="width: 10%;">
        <img mat-card-image [src]="usuario.estampasFavoritas[1]" alt="Foto de perfil" style="width: 10%;">
        <img mat-card-image [src]="usuario.estampasFavoritas[2]" alt="Foto de perfil" style="width: 10%;">
        <p>Reputación: {{ usuario.reputacion }}</p>
    </div>
</mat-dialog-content>